@media screen and (min-width:768px){
    body > div{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    header{
      padding: 7% 2.1em;
    }
    main{
      grid-column: 2/-1;
    }
  
    .post-content figure {
      width: 50%;
    }
  }